#cart {
    width: 99.9%;
    display: flex;
}

.cart-items {
    margin: 20px auto 0 60px;
    width: 600px;
    height: 700px;
    border-radius: 10px;
}

#cart .cart-item {
    margin: 20px auto 0 auto;
    height: 50px;
    padding: 5px;
    max-width: 400px;
    border-radius: 6px;
    display: flex;
    transition: height 0.2s linear;
    box-shadow: 0 2px 5px #018b80;
    overflow: hidden;
}

/* #cart .cart-item:hover {
    border: 1px solid rgb(59, 59, 59);
    height: 120px;
} */

#cart .cart-item::before {
    content: "";
    background-color: green;
    width: 230px;
    height: 2px;
    position: absolute;
    bottom: 2px;
    top: auto;
    box-shadow: 0 2px 5px #018b80;
    ;
}

#cart .cart-item::before {
    content: "";
    background-color: green;
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: 2px;
    top: auto;
    left: auto;
    right: auto;
    box-shadow: 0 2px 5px #018b80;
}

#cart .hero-name {
    color: white;
    margin: 0;
}

#cart .anime-name {
    color: white;
    margin: 0;
}

.control-buttons-and-counter {
    display: flex;
    margin: auto auto auto auto;
    width: auto;
    gap: 10px;
}

.control-buttons-and-counter .control-button {
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.control-buttons-and-counter .counter {
    color: white;
    font-size: 20px;
    width: auto;
    text-align: center;
    margin: 0;
}

.info-form {
    background-image: url("../assets/order-form-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 100vh;
    margin: 0 100px 0 auto;
    display: block;
}

.info-form .title {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
}

.info-form .input-field {
    width: 50%;
    height: 30px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    font-size: 19px;
    font-weight: 600;
    display: block;
    border: none;
    background-color: transparent;
    color: grey;
    box-shadow: 0px 1px 4px #018b80;
}

.info-form .make-order {
    display: block;
    margin: 100px auto 0 auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    width: 60%;
    height: 30px;
    box-shadow: 0 0 5px #018b80;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.4s linear;
}

.summary-row {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    height: auto;
}

.label {
    color: rgba(255, 255, 255, 0.473);
    margin: auto 0 auto 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    display: flex;
    gap: 20px;
}

.value {
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: auto 20px auto auto;
}

.tax-row {
    display: flex;
    margin-top: 15px;
    min-width: 60%;
    height: auto;
}

.info-form .make-order:hover {
    background-color: rgba(127, 255, 212, 0.479);
    color: white;
}

@media(max-width: 600px) {
    #cart {
        max-width: 100%;
        max-height: auto;
        display: flex;
    }

    .cart-items {
        margin: 20px 10px 0 10px;
        max-width: auto;
        max-height: auto;
        border-radius: 10px;
    }

    .info-form {
        background-image: url("../assets/order-form-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 250px;
        height: 100vh;
        margin: 0 10px 0 auto;
        display: block;
    }

    .info-form .input-field {
        width: 70%;
        height: 30px;
        padding-left: 20px;
        border-radius: 10px;
        margin: 20px auto 0 auto;
        font-size: 19px;
        font-weight: 600;
        display: block;
        border: none;
        background-color: transparent;
        color: grey;
        box-shadow: 0px 1px 4px #018b80;
    }

    .label {
        color: rgba(255, 255, 255, 0.473);
        margin: auto 0 auto 20px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        width: 200px;
        display: flex;
        gap: 20px;
    }

    .value {
        color: white;
        font-weight: 600;
        font-size: 17px;
        margin: auto 20px auto auto;
    }

    .tax-row {
        display: flex;
        margin-top: 15px;
        min-width: 60%;
        height: auto;
    }
}