#features-section{
  background-color: #0c0c0f;
  height: 150px;
  margin: 20px 20px 0 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.feature{
  height: 100%;
  display: flex;
  width: 350px;
  transition: 0.5s linear;
  border-radius: 20px;
  position: relative;
}

.feature::after{
  position: absolute;
  width: 2px;
  height: 100px;
  content: "";
  background-color: #191a1c;
  top: 20px;
  left: 360px;
}

.feature:hover{
  box-shadow: 0px 0px 15px green;
}

.features-icon{
  margin: 25px auto auto 10px;
}

.informations{
  display: block;
  color: white;
  margin-left: 10px;
}

@media(max-width: 600px){
  #features-section{
    background-color: #0c0c0f;
    height: auto;
    margin: 20px auto 0 auto;
    border-radius: 20px;
    display: block;
    padding: 10px;
    max-width: 100%;
  }
  .feature{
    height: auto;
    display: flex;
    width: 350px;
    transition: 0.5s linear;
    border-radius: 20px;
    position: relative;
    margin: 0 auto 0 auto;
  }
  .feature::after{
    position: absolute;
    width: 350px;
    height: 2px;
    content: "";
    background-color: #191a1c;
    bottom: 2px;
    top: auto;
    left: auto;
    right: auto;
  }
  .informations{
    display: block;
    color: white;
    margin: 0 0 15px 20px;    
  }
}