header{
  display: flex;
  background-color: black;
  border: 1px solid #1d1d1e;
  justify-content: center;
  height: 50px;
  width: 100%;
}

#search-button{
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

header ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

header li{
  text-underline-offset: 0;
  background-color: transparent;
}

header li a{
  color: white;
  text-decoration: none;
}

#title{
  color: white;
  margin: 10px auto 0 30px;
  font-size: 20px;
  cursor: pointer;
}

#nav-buttons{
  margin: auto 550px auto auto;
   background-color: transparent;
   gap: 30px;
}

#nav-buttons li{
  position: relative;
}

#nav-buttons li::before{
  position: absolute;
  content: "";
  background-color: green;
  height: 2px;
  width: 0%;
  top: 24px;
  left: 50%;
  transition: 0.2s linear;
}

#nav-buttons li:hover::before{
  position: absolute;
  content: "";
  background-color: green;
  height: 3px;
  width: 100%;
  left: 0%;
  top: 24px;
}

#control-buttons{
  margin: auto 15px auto auto;
  align-items: center;
  background-color: transparent;
}

#control-buttons button{
  background-color: black;
  color: white;
  border: none;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.btn-icon{
  width:20px;
  height: 20px;
  color: white;
}

header .counter{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    left: auto;
    right: 10px;
    top: 5px;
    bottom: auto;
    font-size: 13px;
    font-weight: 600;
    color: black;
}