header {
  display: flex;
  background-color: black;
  border: 1px solid #1d1d1e;
  justify-content: center;
  height: 50px;
  width: 99.9%;
}

#search-button {
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header li {
  text-underline-offset: 0;
  background-color: transparent;
}

header li a {
  color: white;
  text-decoration: none;
}

#title {
  color: white;
  margin: 10px auto 0 30px;
  font-size: 20px;
  cursor: pointer;
}

#nav-buttons {
  margin: auto 550px auto auto;
  background-color: transparent;
  gap: 30px;
}

#nav-buttons li {
  position: relative;
}

#nav-buttons li::before {
  position: absolute;
  content: "";
  background-color: green;
  height: 2px;
  width: 0%;
  top: 24px;
  left: 50%;
  transition: 0.2s linear;
}

#nav-buttons li:hover::before {
  position: absolute;
  content: "";
  background-color: green;
  height: 3px;
  width: 100%;
  left: 0%;
  top: 24px;
}

#control-buttons {
  margin: auto 15px auto 0;
  align-items: center;
  background-color: transparent;
}

#control-buttons button {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: relative;
}

.btn-icon {
  width: 20px;
  height: 20px;
  color: white;
}

header .counter {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  left: auto;
  right: -5px;
  top: -5px;
  bottom: auto;
  font-size: 12px;
  font-weight: 600;
  color: black;
}

@media(max-width: 600px) {
  header {
    height: 140px;
    display: block;
    margin: 0 0 0 0;
    max-width: 100%;
  }

  header #title {
    margin: 20px 0 0 0;
    text-align: center;
    display: block;
  }

  #nav-buttons {
    width: 100%;
    padding: 0;
    justify-content: center;
    background-color: transparent;
    gap: 30px;
    margin-top: 10px;
  }

  #control-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    margin: 10px 0 0 0;
  }

  #control-buttons button .counter {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    color: black;
    top: -5px;
    right: -5px;
    bottom: auto;
    left: auto;
  }

}