#why-us{
  width: 99.9%;
  height: 500px;
  border: 1px solid #1d1d1e;
  margin: 40px auto 0 auto;
  background: #070709;
  background: linear-gradient(105deg,rgba(7, 7, 9, 1) 0%, rgba(1, 3, 3, 1) 100%);
  display: flex;
}

#why-us #title{
  color: white;
  font-family: "Onest", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 70px auto 0 0;
  max-width: 150px;
}

#title-and-text{
  padding-left: 20px;
}

#why-us #marked-word{
  color: green;
  font-family: "Onest", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0 auto 0 0;
}

#why-us .sub-text{
  color: grey;
  max-width: 500px;
  margin: 30px auto auto 0;
  font-size: 20px;
  font-weight: 300;
}

.qualities{
  display: block;
  margin-top: 70px;
}

.quality{
  display: flex;
  width: 400px;
  margin: 0 0 30px 40px;
}

.title-text{
  display: block;
  margin: auto 0 auto 10px;
}

.title-text h3{
  color: white;
}

.title-text p{
  color: grey;
}

.title-text h3, p{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.list-icons{
  width: 50px;
  height: 50px;
  margin: auto 0 auto 0;
}

@media (max-width: 600px) {
  #why-us {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    padding: 20px 10px;
  }

  #why-us #title {
    margin-top: 20px;
    max-width: 100%;
  }

  .qualities {
    margin-top: 30px;
  }

  .quality {
    width: 100%;
    margin: 0 0 20px 0;
  }
}